// --------------------
// Definition of variables
$primary: #32c3ff;


@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/mapbox-gl/src/css/mapbox-gl.css';



// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}


.street-art-list {

  td {
    vertical-align: middle;
    padding: 4px 12px;
  }

  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.street-art-overview {
  display: block;
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: contain;
  cursor: pointer;
}

.street-art-overview.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-height: none;
  background-color: black;
}

.NewStreetArt {
  max-width: 600px;
}